.card-with-shadow {
    width: 300px;
      margin: 18px;
      box-shadow: 0 15px 35px 0 rgba(42,51,83,.12),0 5px 15px rgba(0,0,0,.06);
      transition: all 0.25s;
  }
  
  .card-with-shadow:hover {
    transform: translateY(-12px);
  }

  .customodal {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .customodal {
        width: 500px;
        left: calc(50% - 250px);
    }
}


.modalinit {

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 22em; /* Location of the box */
  left: 0;
  top: 0;
  margin:"auto";
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


.modalContainer {

  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width:550px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}


@media only screen and (max-width: 600px) {
  
  .modalinit{
    padding-top :10em;
  }
  
  .modalContainer{
    width:300px;
  }
}


.changefont {
  text-transform:  'uppercase';
}